@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    transition: color 1s ease-in-out, background 1s ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background-color);
    overflow-x: hidden;
}

h1 {
    margin: 0;
    font-size: 5em;
    color: var(--heading-color);
}

h2 {
    font-weight: 400;
    color: var(--primary);
    opacity: 0.5;
}

h3 {
    margin: 10px 0;
    font-size: 1.8em;
    color: var(--color-green);
}

img {
    width: 100%;
    -webkit-user-drag: none;
}

card img {
    width: 70%;
    margin: 20px;
}

hr {
    height: .5px;
    border: none;
    background: #7a7d8125;
}

sub {
    color: var(--color-blue);
}

main {
    display: flex;
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    justify-items: center;
    text-align: center;
}

hero svg {
    margin: 20px;
    color: var(--color-green);
}

#swap {
    cursor: pointer;
}

card {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border-radius: 25px;
    margin-bottom: 50px;
    background: var(--background-secondary);
    box-shadow: var(--card-shadow) 0 15px 50px;
}

input {
    width: 80%;
    max-width: 300px;
    height: 50px;
    margin-top: 30px;
    background-color: #edf2f77c;
    border: 0.5px #1c1e211a solid;
    border-radius: 7px;
    color: var(--primary);
    outline: none;
    padding-left: 10px;
    -webkit-appearance: none;
    transition: max-width .45s cubic-bezier(.26, 0, .33, 1), box-shadow .7s cubic-bezier(.26, 0, .33, 1), transform .7s cubic-bezier(.26, 0, .33, 1);
}

input:focus {
    max-width: 500px;
    box-shadow: #1c1e211e 0 5px 15px;
    transform: translateY(10px);
}

input::-webkit-input-placeholder {
    color: var(--primary);
    opacity: 0.5;
}

input::-moz-placeholder {
    color: var(--primary);
    opacity: 0.5;
}

input:-ms-input-placeholder {
    color: var(--primary);
    opacity: 0.5;
}

input::-ms-input-placeholder {
    color: var(--primary);
    opacity: 0.5;
}

input::placeholder {
    color: var(--primary);
    opacity: 0.5;
}

.unit {
    color: var(--primary);
    margin-left: 5px;
    font-size: 0.4em;
}

#content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: .5;
}

#content>div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#wiki {
    width: 100% !important;
}

#output {
    justify-content: space-around;
}

#output>.formula {
    display: flex;
    width: 80%;
    max-width: 400px;
    min-height: 170px;
    flex-direction: column;
    margin: 20px 0;
    padding: 40px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: #1c1c1c17 0 10px 25px;
}

#output>.formula h1 {
    opacity: 0.7;
}

#output>.formula span {
    color: var(--primary);
    font-size: 1.5em;
    font-weight: 700;
}

#output>.formula h4 {
    margin: 0;
    opacity: 0.3;
    color: var(--primary);
    margin-top: 30px;
}

#output>.formula h3 {
    margin: 0;
    color: var(--primary);
}

#output>.formula.wrong {
    opacity: .3;
}

#output>.info {
    width: 80%;
    max-width: 500px;
}

.table-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.table-row>span {
    color: var(--primary);
    opacity: .7;
}

iframe {
    width: 90%;
    height: 100%;
    margin: 20px 0;
    border: none;
}

#credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

@media all and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.4em;
    }
}

:root {
    --color-yellow: #ffcc00;
    --color-green: #64B77D;
    --color-green2: #4D7E5C;
    --color-blue: #57B0D8;
    --color-blue2: #57b0d859;
    --background-color: #f0f0f0;
    --background-secondary: #00000008;
    --heading-color: #1c1e21;
    --primary: #1c1c1c;
    --card-shadow: #00000008;
}